FoodBevManage.pro.*
bin/FoodBevManage
*.d
*.obj
*.o
*.tlog
*.lastbuildstate
*.idb
*.pdb
*~
*.swp
build/*
compile/*
.qmake.stash
moc_*
Makefile
doc/.DS_Store
doc/enrollment-doc.pdf
doc/node_modules
db/*
doc/package-lock.json
