FoodBevManage.pro.*
bin/FoodBevManage
*.d
*.obj
*.o
*.tlog
*.lastbuildstate
*.idb
*.pdb
*~
*.swp
build
.qmake.stash
moc_*
qrc_res.cpp
Makefile
FoodBevManage
doc/.DS_Store
doc/enrollment-doc.pdf
doc/node_modules
db
